In [1]:
# Phần kết nối dữ liệu
import pandas as pd
import psycopg2 as psy
import sqlalchemy # Thư viện dành cho hiển thị sql trong file

# Import thư viện kết nối với postgresql
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:98919891@153.92.214.210:5432/er_sample')

In [2]:
# Bắt đầu cho phép sử dụng sql trong dòng lệnh
%load_ext sql
# Trong trường hợp đã load thì cần reload
# %reload_ext sql

# Khởi tạo kết nối với server database
%sql postgresql://postgres:98919891@153.92.214.210:5432/er_sample

<h1> Bắt đầu vào phần truy vấn dữ liệu <h1/>

<h2 style="color:red"> CHAPTER 11 <h2/>

In [4]:
%%sql
SELECT
    member_type AS "会員区分"
    ,count(*) AS "人数"
FROM
    member
GROUP BY 
    member_type
;

 * postgresql://postgres:***@153.92.214.210:5432/er_sample
2 rows affected.

[('0', 4), ('1', 10)]

1 会員区分毎の会員の人数を結果表の見出しが「会員区分」、「人数」となるように表示しなさい。

<p style="color:yellow">-----------------------------------------------------<p/>
2 ページ数が 250 以上の書籍を対象にカテゴリ ID 毎の最大価格と平均価格の一覧を、結果表の見出しが「カテゴ
リ ID」、「最大価格」、「平均価格」となるように表示しなさい。

3 会員が 2011 年 10 月以降に注文した回数の一覧を、結果表の見出しが「会員 ID」、「注文した回数」となるように
会員毎に表示しなさい。

4 会員区分と血液型毎の会員数の一覧を、結果表の見出しが「会員区分」、「血液型」、「会員数」となるように表示し
なさい。

5 カテゴリ ID、出版社 ID 毎に書籍の平均価格と平均値引き金額の一覧を、結果表の見出しが「カテゴリ ID」、「出版
社 ID」、「平均価格」、「平均値引き金額」となるように表示しなさい。ただし、価格が 2000 円未満の書籍を対象と
する。