In [4]:
import pandas as pd
# import psycopg2 as psy
import sqlalchemy # Thư viện dành cho hiển thị sql trong file

# Import thư viện kết nối với postgresql
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:98919891@153.92.214.210:5432/er_sample')

# Bắt đầu cho phép sử dụng sql trong dòng lệnh
%load_ext sql

# Khởi tạo kết nối với server database
%sql postgresql://postgres:98919891@153.92.214.210:5432/er_sample

<h1>CHAPTER 18<h1/>

1 まだ一度も注文されていない書籍の書籍 ID と書籍名の一覧を、結果表の見出しが「書籍 ID」、「書籍名」となるよ
うに表示しなさい。

In [18]:
%%sql
/*
+ Lấy thông tin:  
     mã sách: 書籍 ID
    ,tên sách: 書籍名
+ Tại bảng
    book
    ,order_detail  
+ Điều kiện: 
    Các cuốn chưa được mua lần nào   
+ Hiển thị:
    Theo trình tự lấy thông tin
*/
SELECT 
    b.book_id AS "書籍 ID"
    ,b.book_name AS "書籍名"
FROM
    book as b
    LEFT JOIN order_detail AS od
        ON b.book_id = od.item_id
WHERE
    book_id NOT IN (SELECT 
                       item_id
                    FROM 
                        order_detail
    )
ORDER BY
    b.book_id 
    ,b.book_name
;

 * postgresql://postgres:***@153.92.214.210:5432/er_sample
35 rows affected.

[('B0000022', 'アインシュタイン'),
 ('B0000023', '昨日の晩ごはん'),
 ('B0000024', '一日一膳'),
 ('B0000025', 'これからの世界'),
 ('B0000026', 'グローバルのススメ'),
 ('B0000027', '日本の夜明け'),
 ('B0000028', '頑張ればJava'),
 ('B0000029', '明けの明星'),
 ('B0000030', 'より良い老後とは'),
 ('B0000031', 'いつだってUML'),
 ('B0000032', 'からだのしくみ'),
 ('B0000033', '楽しいプログラミング'),
 ('B0000034', 'メビウスの輪を超えて'),
 ('B0000035', '深海のシーラカンス'),
 ('B0000036', '裏金'),
 ('B0000037', 'かしこい消費税'),
 ('B0000038', '恋のサブリミナル'),
 ('B0000039', '亭主関白と政治'),
 ('B0000040', 'バスケがしたいです'),
 ('B0000041', '雨雲'),
 ('B0000042', '週末のオブジェクト指向クラブ'),
 ('B0000043', 'ダークサイドジャパン'),
 ('B0000044', '一子相伝の極み'),
 ('B0000045', 'ドブ臭くたって'),
 ('B0000046', '永遠の向こう側'),
 ('B0000047', 'みんなでクラウド'),
 ('B0000048', '献金！献金！また献金！'),
 ('B0000049', '秘伝のタレ 新版'),
 ('B0000050', '親父からのビジネス'),
 ('B0000051', '思い出のHTML'),
 ('B0000052', '止まらない世界'),
 ('B0000053', 'ららら'),
 ('B0000054', '誰よりもおいしく'),
 ('B0000055', '100年後'),
 ('B0000056', '湯けむりの嗜み')]

In [ ]:
%%sql
-- Phương án sử dụng EXCEPT
/*
WITH not_order AS(
SELECT book_id FROM book
EXCEPT 
SELECT item_id FROM order_detail
)
SELECT 
    b.book_id AS "書籍 ID"
    ,b.book_name AS "書籍名"
FROM
    book as b
    INNER JOIN not_order AS no
        ON b.book_id = no.book_id
ORDER BY
    b.book_id 
    ,b.book_name
*/

2 まだ一度も注文で利用されたことのない、会員のカード情報の一覧を表示しなさい。結果表は「会員 ID」、「カード
番号」、「クレジットカード会社名」を見出しとして表示しなさい。表示順は会員 ID、カード番号とする。

In [12]:
%%sql
/*
+ Lấy thông tin:  
     mã hội viên: 会員 ID
    ,mã số thẻ: カード 番号
    ,tên công ty thẻ: クレジットカード会社名
+ Tại bảng
    order_header
    ,member_card
    ,card_company  
+ Điều kiện: 
    Các thẻ chưa được mua lần nào   
+ Hiển thị:
    Theo trình tự mã hội viên, mã thẻ
*/
WITH not_use_card AS
(
    SELECT 
        member_id
        ,member_card_id
    FROM 
        member_card
    EXCEPT
    SELECT
        member_id
        ,member_card_id
    FROM
        order_header
) 
SELECT
    mc.member_id AS "会員 ID"
    ,mc.card_number AS "カード 番号"
    ,cc.card_company_name AS "クレジットカード会社名"
FROM
    not_use_card AS nuc
    INNER JOIN member_card AS mc
        ON nuc.member_id = mc.member_id AND nuc.member_card_id = mc.member_card_id
    LEFT JOIN card_company AS cc
        ON mc.card_company_id = cc.card_company_id
ORDER BY
    mc.member_id
    ,mc.card_number   
;

 * postgresql://postgres:***@153.92.214.210:5432/er_sample
13 rows affected.

[('M002', '1111-0000-1111-3333', 'ビゼ'),
 ('M003', '3333-3333-3333-3333', 'ビゼ'),
 ('M003', '7777-0000-3333-2222', 'アメリカンエックス'),
 ('M005', '5555-5555-5555-5555', 'セゾナ'),
 ('M005', '5555-5555-5555-5556', 'ラクトン'),
 ('M006', '6666-6666-6666-6667', 'アメリカンエックス'),
 ('M007', '1234-5678-9012-3456', 'ビゼ'),
 ('M009', '9999-9999-9999-9999', 'セゾナ'),
 ('M010', '9876-5432-1098-7654', 'セゾナ'),
 ('M013', '0000-3333-0000-0000', 'セゾナ'),
 ('M013', '0000-3333-0000-0001', 'ビゼ'),
 ('M013', '0000-3333-0000-0002', 'アメリカンエックス'),
 ('M013', '1029-3847-5610-2938', 'ラクトン')]