In [2]:
import pandas as pd
# import psycopg2 as psy
import sqlalchemy # Thư viện dành cho hiển thị sql trong file

# Import thư viện kết nối với postgresql
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:98919891@153.92.214.210:5432/er_sample')

# Bắt đầu cho phép sử dụng sql trong dòng lệnh
%load_ext sql

# Khởi tạo kết nối với server database
%sql postgresql://postgres:98919891@153.92.214.210:5432/er_sample

<h1> CHAPTER 23 <h1/>

1 クレジットカード会社名が「ラクトン」の所在地を「東京都」に更新しなさい。

In [3]:
%%sql
UPDATE card_company
SET
    prefecture = '東京都' 
WHERE 
    card_company_name = 'ラクトン' 
;

 * postgresql://postgres:***@153.92.214.210:5432/er_sample
0 rows affected.

[]

2 会員 ID が M009 の会員の姓を「北野」に、登録日時を「2012 年 1 月 2 日 10 時 15 分 24 秒」に更新しなさい。

In [ ]:
%%sql
UPDATE member
SET
    first_name = '北野' 
    ,regist_datetime = '2012-01-02 10:15:24'
WHERE 
    member_id = 'M009' 
;

3 カテゴリ ID が C005 の書籍について、値引き金額を倍にしなさい。

In [ ]:
%%sql
UPDATE book
SET
     discount = discount * 2 
WHERE 
    category_id = 'C005' 
;

4 書籍 ID が B0000053 の書籍について、書籍名をラララ、価格を 1080 円、値引き価格を 280 円、ページ数を
255 ページに更新しなさい。

In [ ]:
%%sql
UPDATE book
SET
    book_name = 'ラララ'
    ,price = 1080
    ,discount = 280
    ,page_count = 255
WHERE 
    book_id = 'B0000053' 
;

5 郵便番号と住所が登録されていない会員の住所を「住所未登録」に更新しなさい。

In [ ]:
%%sql
UPDATE member
SET
    address = '住所未登録'
WHERE 
    member_id IN (
        SELECT
            member_id
        FROM member
        WHERE
            post_code IS NULL
            AND
            address IS NULL
    ) 
;

6 発売日が 2003 年以前の書籍の ISBN を「絶版のため取り扱い無し」に更新しなさい。

In [ ]:
%%sql
UPDATE book
SET
    ISBN13 = '絶版のため取り扱い無し'
WHERE 
   EXTRACT(YEAR FROM on_sale_date) <= '2003'
;