In [1]:
import pandas as pd
import psycopg2 as psy
import sqlalchemy # Thư viện dành cho hiển thị sql trong file

# Import thư viện kết nối với postgresql
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:98919891@153.92.214.210:5432/er_sample')

# Bắt đầu cho phép sử dụng sql trong dòng lệnh
%reload_ext sql

# Khởi tạo kết nối với server database
%sql postgresql://postgres:98919891@153.92.214.210:5432/er_sample

<h1>16.4 演習</h1>

1 血液型が O 型の会員一覧を表示しなさい。業種、職種が設定されていない会員についても表示する必要がある。
結果表は「姓」、「名」、「業種名」、「職種名」を見出しとして表示しなさい。
 - - - -

2 東京都在住の会員が所持するクレジットカード情報の一覧を表示しなさい。結果表は「氏名」、「カード番号」、「有
効期限(YY/MM)」、「クレジットカード会社名」を見出しとして表示しなさい。

---- 

<i>Lấy thông tin về TÊN, SỐ THẺ, NĂM/THÁNG HẾT HẠN, TÊN CÔNG TY TẠO THẺ của các thành viên sử dụng thẻ CREDIT sống ở TOKYO. <i/>

In [ ]:
%%sql 
SELECT

3 2011 年 4 月 1 日以降の注文を全て会員 ID、注文番号順に一覧表示する。結果表は「注文番号」、「氏名」、「有
効期限(YY/MM)」、「クレジットカード会社名」を見出しとして表示しなさい。ただし、有効期限(YY/MM)とクレジット
カード会社名はクレジットカード決済された注文についてのみ表示すればよい。

In [ ]:
4 2011 年より前の注文の内訳を一覧表示しなさい。結果表は「注文番号」、「注文日時」、「注文者の氏名」、「書籍
名」を見出しとして表示しなさい。並び順は注文番号、注文明細番号とする。

In [ ]:
5 血液型が O 型の会員の注文について、決済に利用されたカード会社毎の注文回数を求めなさい。結果表は「カー
ド会社 ID」、「決済利用回数」を見出しとして表示しなさい。ただし、クレジットカード決済以外の回数についても一
覧に含めることとし、カード会社 ID には「OTHER」と表示すること。

In [ ]:
6 会員毎の 2010 年 12 月 31 日以前の購入金額合計を求めなさい。ただし、書籍1冊分の購入金額は「書籍の価
格-値引き金額」で求めることとする。結果表は「会員 ID」、「購入金額合計」を見出しとして表示しなさい。

In [ ]:
7 「講番社」が出版しているカテゴリがノンフィクション以外の書籍を全て一覧表示しなさい。結果表は「書籍 ID」、「書
籍名」、「カテゴリ名」を見出しとして表示しなさい。

In [ ]:
8 値引き前の価格が 1000 円以上の書籍を購入したことがある会員の会員 ID、氏名、職種名の一覧を、結果表の
見出しが「会員 ID」、「氏名」、「職種名」となるように表示しなさい。表示順は会員 ID 順で表示しなさい。